@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-size: 14px;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

input, textarea {
  appearance: none;
}

textarea {
  resize: none;
}
