.divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  display: block;
}
.inlineDivider{
  display: inline-block;
  border-right: 1px solid rgba(34, 36, 38, 0.06);
  margin: 0 0.75em;
  height: 2em;
}