.item {

}

.heading {

}

.content {

}

.content img {
  max-size: 100%;
}

.content table td > *:last-child {
  margin-bottom: 0;
}

.sidebar {
  position: sticky;
  top: 20px;
}

.badge {
  float: right;
  font-style: normal;
  font-size: 12px;
  border: 1px solid;
  padding: 4px 6px;
  border-radius: 4px;
  line-height: 1;
}

/* reset categroy inherited from CustomerServiceTickets */
.category {
  vertical-align: inherit;
  margin-left: 0;
}
