.radio {
  position: relative;

  &:checked {
    &:before {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      background-color: #15C5CE;
      display: block;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
