.radio {
  position: relative;

  &:checked:before {
    @apply absolute bg-tapBlue rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    content: '';
    width: 6px;
    height: 6px;
  }
}
