@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  @apply flex flex-col min-h-full text-base bg-[#E5E5E5] text-[#222];
}

#root {
  @apply flex flex-col flex-grow;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea,
select {
  appearance: none;
}

textarea {
  resize: none;
}

.markdown-body {
  @apply bg-transparent;
}
.markdown-body ul {
  list-style: disc;
}
.markdown-body ol {
  list-style: decimal;
}
.markdown-body a {
  @apply text-tapBlue;
}
