@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply flex flex-col min-h-full text-base bg-[#E5E5E5] text-[#222];

  &.rnd {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='100px'><text transform='translate(20, 60) rotate(-45)' fill='rgba(0,0,0,.08)' font-size='16' font-family='sans-serif'>测试版</text></svg>");
  }
}

#root {
  @apply flex flex-col grow w-full max-w-3xl mx-auto;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea,
select {
  @apply appearance-none;
}

textarea {
  @apply resize-none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.page {
  .block:last-child {
    border-bottom: 0;
    margin-bottom: 2px;
  }
}

.markdown-body {
  @apply text-[#666] bg-transparent;
}
.markdown-body ul {
  @apply list-disc;
}
.markdown-body ol {
  @apply list-decimal;
}
.markdown-body a {
  @apply text-tapBlue;
}


input[type="date"]::-webkit-date-and-time-value {
  min-height: 22px;
}
