@import '../../style';

.editorContainer {
  margin-top: 20px;
  margin-bottom: 10px;

  &.internal {
    :global(.w-md-editor-content) {
      background-color: $internal-reply-background;
    }
  }
}

.submit {
  min-width: 74px;
}
