html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  text-decoration-skip: ink;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body,
.label, label {
  font-weight: 400;
}

.username {
  font-weight: bold;
}

.avatar img {
  border-radius: 2px;
  vertical-align: -3px;
  margin-right: 4px;
  background: #fff;
}

.card-footer a {
  color: #696969;
}

.card-footer a:hover {
  color: #3090e4;
}

.panel-primary > .panel-heading a {
  color: #fff;
}

.tickets {
  position: relative;
}

.tickets:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  content: '';
  background-color: #efefef;
  z-index: -1;
}

.ticket-status {
  display: flex;
  margin-left: 25px;
  margin-bottom: 30px;
}

.ticket-status-right {
  flex: 1;
}

.ticket-status .icon-wrap {
  background: #efefef;
  padding: 7.5px 9px;
  border-radius: 50%;
  margin-top: -5px;
  margin-right: 8px;
  box-shadow: 0 0 0 3px #fff;
  color: #7d7e86;
}

.ticket-status .icon-wrap.closed {
  color: #fff;
  background: #ff3d3d;
}

.ticket-status .icon-wrap.reopened {
  color: #fff;
  background: #359cf7;
}

.ticket-status .icon-wrap.resolved {
  color: #fff;
  background: #33c371;
}

.ticket-status .icon-wrap.awaiting {
  color: #fff;
  background: #ffb741;
}

.timestamp {
  color: inherit;
}

a.timestamp:hover {
  color: #3090e4;
}
