.header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
}

.content {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
}

.footer {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), inset 0px -2px 0px #F2F2F2;
}
